body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    text-align: center;
    border: 1px solid #393ffc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(18, 97, 255, 0.2);
    width: 300px;
}

#display {
    width: 100%;
    font-size: 24px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    font-size: 20px;
    padding: 10px;
}